<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<base href="http://localhost:8080/" />-->
  <link rel="stylesheet" href="../css/xinxi.css">
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="canonical" href="http://www.ityouknow.com/">
  <link rel="alternate" type="application/rss+xml"  href="http://www.ityouknow.com/feed.xml">

  <!-- Third-Party CSS -->
  <link rel="stylesheet" href="http://favorites.ren/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://www.ityouknow.com/bower_components/octicons/octicons/octicons.css">
  <link rel="stylesheet" href="http://favorites.ren/bower_components/hover/css/hover-min.css">
  <link rel="stylesheet" href="http://favorites.ren/bower_components/primer-markdown/dist/user-content.min.css">
  <link rel="stylesheet" href="http://favorites.ren/assets/css/syntax.css">
  <link rel="stylesheet" href="http://favorites.ren/assets/css/gitalk.css">



  <!-- My CSS -->
  <link rel="stylesheet" href="http://favorites.ren/assets/css/common.css">

  <!-- CSS set in page -->

  <link rel="stylesheet" href="http://favorites.ren/assets/css/index.css">

  <link rel="stylesheet" href="http://favorites.ren/assets/css/sidebar-popular-repo.css">


  <!-- CSS set in layout -->


  <link href="http://apps.bdimg.com/libs/fontawesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script type="text/javascript" src="http://favorites.ren/bower_components/jquery/dist/jquery.min.js"></script>


  <title></title>

</head>
<style>
   .jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
#site-header-brand, #site-header-brand .octicon {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 38px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: unset;
}
#site-header-brand, #site-header-brand .octicon {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 38px;
        font-weight: 400;
        line-height: 38px;
        padding-left: 520px;
}

</style>
<body style="font-size:17px;height:100%;width:100%;">
<div>
<section class="jumbotron">
  <div class="container">
    <a style="margin-top:0px;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: 400;
    line-height: 38px;" href="/user/index" >&lt</a>
    <a id="site-header-brand" >
      个人中心
    </a>
  </div>

</section>

</div>
<div class="a">
  <div class="one">
    <input type="text" id="one1" class="one1"   onfocus="MMonfocu();" onblur="MMonblus();" placeholder="请输入旧密码" required="required"><br>
    <input type="text" id="one2" class="one2"  onfocus="MMonfocu2();" onblur="MMonblus2();" placeholder="请输入新密码" required="required"><br>
    <input class="one3" type="button" onclick="updatePassword();" value="修改密码"/>
  </div>
  <!--<div class="two">
    <div class="two1"><img src="https://tupian.qqw21.com/article/UploadPic/2021-5/20215282025121908.jpg"> </div>
    <div class="text1">往事随风</div>
    <div class="two2">
      <div class="two2-one">999<br>粉丝</div>
      <div>99<br>关注</div>
    </div>
  </div>-->
  <div class="three">
    <div class="three12">
      <span class="three-image1"> </span>
      <span>用户名:</span>
      <span class="span1">[[${user.username}]]</span>
    </div>
    <div class="three12">
      <span class="three-image2"> </span>
      <span>性别:</span></button>
      <span class="span1">[[${user.usex}]]</span>
    </div>
    <div class="three12">
      <span class="three-image3"> </span>
      <sapn>手机号码:</sapn>
      <span class="span1">[[${user.uphone}]]</span>
    </div>
    <div class="three12">
      <span class="three-image3"> </span>
      <sapn>邮件地址:</sapn>
      <span class="span1">[[${user.uemail}]]</span>
    </div>

    <div class="three1" onclick="updateUser()">
      <span class="three-image3"> </span>
      <sapn>修改个人资料</sapn>

    </div>
    <div class="three1" onclick="logout();">
      <span class="three-image4"> </span>
      <sapn>退出登录</sapn>
    </div>
  </div>
</div>

</body>
<script th:inline="javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
      //console.log("o");
      function updatePassword(){
          if(!(MMonblus()&&MMonblus2())) return;
          var oldPassword=document.getElementById("one1").value;
          var newPassword=document.getElementById("one2").value;
          var data={"oldPassword":oldPassword,"newPassword":newPassword};
          data=JSON.stringify(data);
          $.ajax({
                  url:"/user/updatePassword",
                  type:"post",
                  dataType:"json",
                  contentType:"application/json;charset=utf-8",
                  data:data,
                  success:function(result){
                    console.log(result);
                    if(result) {
                      document.getElementById("one2").value="";
                      document.getElementById("one2").placeholder="密码修改成功";
                    }else{
                      document.getElementById("one2").value="";
                      document.getElementById("one2").placeholder="密码修改失败";
                  }
                }
           })
    }

        function MMonblus(){
          var password=document.getElementById("one1");
          var re =/^\d{6}$/;
          ///^(?=.*\d)(?=.*[a-zA-Z])[\da-zA-Z]{6,}$/;
         // var reg=/[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/;

        if(password.value==""){
              document.getElementById('one1').value="";
             document.getElementById('one1').placeholder="请输入密码";//setAttribute("placeholder",
        }
          else if(password.value.length !=6){
             document.getElementById('one1').value="";
             document.getElementById('one1').placeholder="格式错误,密码长度为6位";
         }

         else if(!re.test(password.value)){
             document.getElementById('one1').value="";
             document.getElementById('one1').placeholder="格式错误,必须是6位数字";
        }
         else {
             return true;
        //document.getElementById('one1').value="";
        }
        return false;
    }

    function MMonfocu(){
        document.getElementById('one1').value="";
        document.getElementById('one1').placeholder="请输入密码";
    }

     function MMonblus2(){
          var password=document.getElementById("one2");
          var re =/^\d{6}$/;
          ///^(?=.*\d)(?=.*[a-zA-Z])[\da-zA-Z]{6,}$/;
         // var reg=/[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/;

        if(password.value==""){
             document.getElementById('one2').value="";
             document.getElementById('one2').placeholder="请输入新密码";//setAttribute("placeholder",
        }
          else if(password.value.length!=6){
             document.getElementById('one2').value="";
             document.getElementById('one2').placeholder="格式错误,密码长度为6位";
         }

         else if(!re.test(password.value)){
             document.getElementById('one2').value="";
             document.getElementById('one2').placeholder="格式错误,必须是6位数字";
        }
         else {
             return true;
        //document.getElementById('one2').value="";
        }
            return false;
    }

    function MMonfocu2(){
        document.getElementById('one2').value="";
        document.getElementById('one2').placeholder="请输入新密码";
    }

    function logout(){
      window.location.href="/user/logout";
    }

    function updateUser(){
      window.location.href="/user/updateUser";
    }

     function backIndex(){
        window.location.href="/user/index";
    }



</script>
</html>

